<div class="col-xs-4" style="text-align: center; height: 90px;">
    <span style="display: inline-block; height: 100%; vertical-align: middle;"></span>
    <img style="max-width: 60px; max-height: 60px; vertical-align: middle;" [src]="getIcon()" />
</div>
<div class="col-xs-8" style="height: 90px;">
    <p style="margin-bottom: 5px; text-transform: uppercase; color: grey; font-weight: bold;">{{getTitle()}}</p>
    <p style="font-weight: bold;"><span style="font-size: 2.5em;">{{currentMeasurementValue}}</span> <span style="font-size: 1.5em;">{{currentMeasurementUnit}}</span></p>
    <p style="color: grey; text-transform: lowercase; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{totalPercentage | number: '1.2-2'}} {{txt}}</p>
</div>
<div class="col-xs-12" style="margin-top: 25px;">
    <canvas [id]="getUniqueIdForChart()" [style.height] = "getChartHeight()"></canvas>
</div>